{% extends "bootstrap/base.html" %} 

{% block head %}

{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
type="image/x-icon">
<script src="{{ url_for('static', filename = 'jquery.min.css') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">

{% endblock %}

{% block title %}Boteco do Gallão{% endblock %}

{% block content %}

<div class="container">
    <!-- <div class="row"> -->
        <!-- <div class="col-md-4 col-md-offset-4"> -->
            {% block page_content %}
            {% endblock %}
        <!-- </div> -->
    <!-- </div> -->
</div>

{% endblock %}
